<%= render partial: "shared/flash" %>
<h2>Hello <%= @user.username %></h2>
<%= link_to "Create new link", new_link_path, class: "btn btn-success" %>

<% @links.each do |link| %>
	<p><%= link.url %></p>
<% end %>
<hr>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>